<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbs.dao.InvitationMapper">
	<resultMap type="Invitation" id="invitationMap">
		<id property="invitationId" column="invitationId"/>
		<result property="isPass" column="invitationIsPass"/>
		<result property="isEnable" column="invitationIsEnable"/>
		<association property="user" javaType="User">
			<id property="userId" column="userId"/>
		</association>
		<association property="plate" javaType="Plate">
			<id property="plateId" column="plateId"/>
		</association>
		<association property="category" javaType="Category">
			<id property="categoryId" column="categoryId"/>
		</association>
	</resultMap>
	<!-- 根据分类 id 查找对应的所有的贴子列表 -->
	<select id="findAllInvitationByCategoryId" resultType="Invitation">
		select * from bbs_invitation where categoryId=#{categoryId}
	</select>
	<!-- 添加新的贴子 -->
	<insert id="addNewInvitation" parameterType="Invitation">
		insert into bbs_invitation(invitationId,invitationTitle,invitationMessage,userId,
			plateId,categoryId,invitationCreate) 
			values(#{invitationId},#{invitationTitle},#{invitationMessage},
			#{user.userId},#{plate.plateId},#{category.categoryId},#{invitationCreate})
	</insert>
	<!-- 获取所有的贴子 -->
	<select id="findAllInvitations" resultMap="invitationMap">
		select invitationId,invitationTitle,invitationMessage,bbs_invitation.userId,
			bbs_invitation.plateId,bbs_invitation.categoryId,
			bbs_invitation.isPass invitationIsPass,
			bbs_invitation.isEnable invitationIsEnable,
			invitationCreate,invitationModify,plateTitle,userAlice,category
			from bbs_invitation left join bbs_user 
			on bbs_invitation.userId=bbs_user.userId
			left join bbs_plate on bbs_invitation.plateId=bbs_plate.plateId
			left join bbs_category on bbs_invitation.categoryId=bbs_category.categoryId
			where bbs_invitation.isPass=#{isPass}
			and bbs_invitation.isEnable=0
			<if test="plateId!=null and plateId!=0">
				and bbs_plate.plateId=#{plateId}
			</if>
			<if test="categoryId!=null and categoryId!=0">
				and bbs_category.categoryId=#{categoryId}
			</if>
	</select>
	<!-- 根据 invitationId 查找 Invitation -->
	<select id="findInvitationById" parameterType="string" resultMap="invitationMap">
		select invitationId,invitationTitle,invitationMessage,bbs_invitation.userId,
			bbs_invitation.plateId,bbs_invitation.categoryId,
			bbs_invitation.isPass invitationIsPass,
			bbs_invitation.isEnable invitationIsEnable,
			invitationCreate,invitationModify,plateTitle,userAlice,category,
			userPhoto,bbs_invitation.isEnable invitationIsEnable
			from bbs_invitation left join bbs_user 
			on bbs_invitation.userId=bbs_user.userId
			left join bbs_plate on bbs_invitation.plateId=bbs_plate.plateId
			left join bbs_category on bbs_invitation.categoryId=bbs_category.categoryId
			where bbs_invitation.invitationId=#{invitationId}
	</select>
	<!-- 根据 invitationId 修改 isPass -->
	<update id="updateIsPassById">
		update bbs_invitation set isPass=#{isPass} where invitationId=#{invitationId}
	</update>
	<!-- 通过 invitationId 修改 accessCount 增加1 -->
	<update id="updateAccessCountById" parameterType="string">
		update bbs_invitation set accessCount=accessCount+1 where invitationId=#{invitationId}
	</update>
	<!-- 获取所有热门贴子 -->
	<select id="findAllHotInvitations" resultMap="invitationMap">
		select invitationId,invitationTitle,invitationMessage,bbs_invitation.userId,
			bbs_invitation.plateId,bbs_invitation.categoryId,
			bbs_invitation.isPass invitationIsPass,
			bbs_invitation.isEnable invitationIsEnable,
			invitationCreate,invitationModify,plateTitle,userAlice,category
			from bbs_invitation left join bbs_user 
			on bbs_invitation.userId=bbs_user.userId
			left join bbs_plate on bbs_invitation.plateId=bbs_plate.plateId
			left join bbs_category on bbs_invitation.categoryId=bbs_category.categoryId
			where bbs_invitation.isPass=1
			and bbs_invitation.isEnable=0
			and bbs_invitation.invitationId in(
				select bbs_invitation_inter.invitationId from bbs_invitation_inter
					group by bbs_invitation_inter.invitationId 
					having count(*)>=10
			)
	</select>
	<!-- 查找对应板块的精华帖 -->
	<select id="findCreamByPlateId" parameterType="int" resultMap="invitationMap">
		select invitationId,invitationTitle,invitationMessage,bbs_invitation.userId,
		bbs_invitation.plateId,bbs_invitation.categoryId,
		bbs_invitation.isPass invitationIsPass,
		bbs_invitation.isEnable invitationIsEnable,
		invitationCreate,invitationModify,plateTitle,userAlice,category
		from bbs_invitation left join bbs_user 
		on bbs_invitation.userId=bbs_user.userId
		left join bbs_plate on bbs_invitation.plateId=bbs_plate.plateId
		left join bbs_category on bbs_invitation.categoryId=bbs_category.categoryId
		where bbs_invitation.isPass=1
		and bbs_invitation.isEnable=0
		and bbs_plate.plateId=#{plateId}
		and bbs_invitation.invitationId in(
			select bbs_invitation.invitationId
 			from bbs_invitation
 			where isPass=1
 			and accessCount
 			+(select count(distinct bbs_invitation_ans.userId) from  bbs_invitation_ans 
   				where bbs_invitation_ans.invitationId=bbs_invitation.invitationId 
   			and bbs_invitation_ans.userId!=bbs_invitation.userId)*100
 			+(select count(*) from bbs_invitation_inter 
			where bbs_invitation_inter.invitationId=bbs_invitation.invitationId)*200>=1000	
		)
	</select>
	<!-- 获取指定 userId 所有的贴子 -->
	<select id="findAllInvitationsByUid" resultMap="invitationMap">
		select invitationId,invitationTitle,invitationMessage,bbs_invitation.userId,
			bbs_invitation.plateId,bbs_invitation.categoryId,
			bbs_invitation.isPass invitationIsPass,
			bbs_invitation.isEnable invitationIsEnable,
			invitationCreate,invitationModify,plateTitle,category
			from bbs_invitation
			left join bbs_plate on bbs_invitation.plateId=bbs_plate.plateId
			left join bbs_category on bbs_invitation.categoryId=bbs_category.categoryId
			where bbs_invitation.isEnable=0
			and bbs_invitation.userId=#{userId}
	</select>
	<!-- 根据 invitationId 修改 Invitation -->
	<update id="updateInvitationById" parameterType="Invitation">
		update bbs_invitation set invitationTitle=#{invitationTitle},
			invitationMessage=#{invitationMessage},isPass=#{isPass},
			invitationModify=#{invitationModify} 
			where invitationId=#{invitationId}
	</update>
	<!-- 删除贴子（把isEnable设置为1） -->
	<update id="delInvitationById" parameterType="string">
		update bbs_invitation set isEnable=1 where invitationId=#{invitationId}
	</update>
	<!-- 根据用户 id 获取其所有收藏的贴子 -->
	<select id="findAllStoreInvitations" parameterType="string" resultMap="invitationMap"> 
		select bbs_invitation.invitationId,invitationTitle,invitationMessage,
			bbs_invitation.userId,bbs_invitation.plateId,bbs_invitation.categoryId,
			bbs_invitation.isPass invitationIsPass,
			bbs_invitation.isEnable invitationIsEnable,
			invitationCreate,invitationModify,plateTitle,userAlice,category
			from bbs_invitation left join bbs_user 
			on bbs_invitation.userId=bbs_user.userId
			left join bbs_plate on bbs_invitation.plateId=bbs_plate.plateId
			left join bbs_category on bbs_invitation.categoryId=bbs_category.categoryId
			left join bbs_invitation_inter 
				on bbs_invitation.invitationId=bbs_invitation_inter.invitationId
			where bbs_invitation_inter.storeUserId=#{userId}
	</select>
	<!-- 根据用户id获取所有参与的贴子 -->
	<select id="findAllAnsInvitations" parameterType="string" resultMap="invitationMap"> 
		select bbs_invitation.invitationId,invitationTitle,invitationMessage,
			bbs_invitation.userId,bbs_invitation.plateId,bbs_invitation.categoryId,
			bbs_invitation.isPass invitationIsPass,
			bbs_invitation.isEnable invitationIsEnable,
			invitationCreate,invitationModify,plateTitle,userAlice,category
			from bbs_invitation left join bbs_user 
			on bbs_invitation.userId=bbs_user.userId
			left join bbs_plate on bbs_invitation.plateId=bbs_plate.plateId
			left join bbs_category on bbs_invitation.categoryId=bbs_category.categoryId
			left join bbs_invitation_ans 
				on bbs_invitation.invitationId=bbs_invitation_ans.invitationId
			where bbs_invitation_ans.userId=#{userId}
	</select>
</mapper>



