<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbs.dao.UserMapper">
	<resultMap type="User" id="userMap">
		<id property="userId" column="userId"/>
		<association property="userLevel" javaType="Level">
			<id property="levelId" column="levelId"/>
		</association>
	</resultMap>
	<!-- 根据账户和密码查找对应账户信息 -->
	<select id="findUserByIdAndPsw" resultMap="userMap">
		select * from bbs_user left join bbs_level
			on bbs_user.userLevel=bbs_level.levelId
			where userId=#{userId} and userPsw=#{userPsw}
	</select>
	<!-- 根据 userId 查找 User -->
	<select id="findUserById" resultMap="userMap">
		select * from bbs_user left join bbs_level
			on bbs_user.userLevel=bbs_level.levelId
			where userId=#{userId}
	</select>
	<!-- 添加账户信息 -->
	<insert id="addNewUser" parameterType="user">
		insert into bbs_user(userId,userPsw,userAlice,userEmail,
			userSex,userLevel,userCreateDate)
			values(#{userId},#{userPsw},#{userAlice},#{userEmail},
			#{userSex},#{userLevel.levelId},#{userCreateDate})
	</insert>
</mapper>



